<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B669A9811E66915800F7CD39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B669A9951E66915800F7CD39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B669A9A01E66915800F7CD39</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
